/* theme */
body {
  font-family: 'Josefin Sans', sans-serif !important;
  background-color: #fcfcfc;
  color: #505050;
}
a, a:hover {
  color: #505050 !important;
}
button, button:hover {
  background-color: #505050 !important;
}
button.navbar-toggler {
  background-color: transparent !important;
}
.footer-link {
  text-decoration: none !important;
}
.footer-border {
  border-top: solid 1px #505050;
}

.vertical-center {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.bg-image {
  background-image: url("https://placehold.co/600x400");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 400px;
}
.bg-image-text-container {
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
}
.bg-image-text-bg {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2rem 2rem 1rem;
  outline: 2px solid rgba(255, 255, 255, 0.5);
  outline-offset: 5px;
}
.bg-image-text-bg span {
  font-size: 4.5rem;
}
.bg-pattern {
  background-image: url("https://placehold.co/600x400");
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

@media screen and (min-width: 992px) {
  .parallax-card {
max-width:60%
  }
}
